// BOOTSTRAP
// Partes obrigatórias
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

// Importando apenas o essencial do bootstrap para diminuir o tamanho do pacote final
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/tables";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/forms";
@import "../node_modules/bootstrap/scss/nav";
@import "../node_modules/bootstrap/scss/pagination";
@import "../node_modules/bootstrap/scss/badge";
@import "../node_modules/bootstrap/scss/close";
@import "../node_modules/bootstrap/scss/utilities";

@import "@fortawesome/fontawesome-free/scss/fontawesome";

$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";

@import "@fortawesome/fontawesome-free/scss/solid";

// Vue-Select component scss
@import "vue-select/src/scss/vue-select.scss";

html, body {
  height: 100%;
  background: #f9f9f9;
}

.cursor-pointer {
  cursor: pointer;
}

.fade-transition-enter-active, .fade-transition-leave-active {
  transition: opacity 150ms ease;
}
.fade-transition-enter, .fade-transition-leave-to {
  opacity: 0;
}
.countries-list-move {
  transition: transform 500ms;
}
.gradient-loading {
  background: linear-gradient(270deg, #d4d4d4, #a7a7a7);
  background-size: 400% 400%;

  -webkit-animation: BrackgroundPosAnim 2s ease infinite;
  -moz-animation: BrackgroundPosAnim 2s ease infinite;
  animation: BrackgroundPosAnim 2s ease infinite;
}

@-webkit-keyframes BrackgroundPosAnim {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes BrackgroundPosAnim {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes BrackgroundPosAnim {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}